@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  display: flex;
  width: 70%;
  height: 60%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);

  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 4.2rem 0;
  transition: all 0.75s;
  border-radius: 30px;

}

.player h2 {
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.score {
  font-size: 4.8rem;
  font-weight: 300;
  color: #c7365f;
}

.player_active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player_active h2 {
  font-weight: 700;
}
.player_active .score {
  font-weight: 400;
}

.player_active .current {
  opacity: 1;
}

.current{
  margin-top: 9rem;
  padding: 1rem ;
  width: 35%;
  border-radius: 10px;
  background-color: #c7365f;
  color: #fff;
  opacity: 0.8;
  text-align: center;
  transition: all 0.75s;
}

.current_label{
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ddd;
  margin-bottom: .8rem;
}

.current_score{
  font-size: 1.5rem;
}

.dice{
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  width: 10%;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.btn{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.5rem 2rem;
  border-radius: 50rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

.new_btn{
  top: 8%;
}

.roll_btn{
  top: 65%;
}

.hold_btn{
  top: 75%;
}

.btn::first-letter{
  font-size: 1.2rem;
  margin-right: 5px;
  display: inline-block;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.player_winner {
  background-color: #2f2f2f;
}

.player_winner h2 {
  font-weight: 700;
  color: #c7365f;
}

.hidden{
  display: none;
}
